{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<hr class="offset-lg hidden-xs">
<hr class="offset-md">

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 md-padding">
      <h1 class="align-center">{% trans "Sign Up" %}</h1>
      <br>
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>
      <form class="join" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/catalog.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery-ui-1.11.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>
{% endblock scripts %}