{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock extra_head %}

{% block content %}
<hr class="offset-lg">
<div class="cart" data-toggle="inactive">
  <div class="label">
    <i class="ion-bag"></i> 7
  </div>

  <div class="overlay"></div>

  <div class="window">
    <div class="title">
      <button type="button" class="close"><i class="ion-android-close"></i></button>
      <h1 class="h3 info">Your cart</h1>
    </div>

    <div class="content">

      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="{% static 'img/products/sample.png' %}" alt="Home" />
          </a>
        </div>
        <div class="media-body">
          <h2 class="h4 media-heading">Sample Home</h2>
          <label>Home</label>
          <p class="price">$399.99</p>
        </div>
        <div class="controls">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" data-action="minus"><i
                  class="ion-minus-round"></i></button>
            </span>
            <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" data-action="plus"><i
                  class="ion-plus-round"></i></button>
            </span>
          </div><!-- /input-group -->

          <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="{% static 'img/products/sample.png' %}" alt="Home" />
          </a>
        </div>
        <div class="media-body">
          <h2 class="h4 media-heading">Sample Home</h2>
          <label>Home</label>
          <p class="price">$399.99</p>
        </div>
        <div class="controls">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" data-action="minus"><i
                  class="ion-minus-round"></i></button>
            </span>
            <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" data-action="plus"><i
                  class="ion-plus-round"></i></button>
            </span>
          </div><!-- /input-group -->

          <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="{% static 'img/products/sample.png' %}" alt="Home" />
          </a>
        </div>
        <div class="media-body">
          <h2 class="h4 media-heading">Sample Home</h2>
          <label>Home</label>
          <p class="price">$399.99</p>
        </div>
        <div class="controls">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" data-action="minus"><i
                  class="ion-minus-round"></i></button>
            </span>
            <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" data-action="plus"><i
                  class="ion-plus-round"></i></button>
            </span>
          </div><!-- /input-group -->

          <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="{% static 'img/products/sample.png' %}" alt="Home" />
          </a>
        </div>
        <div class="media-body">
          <h2 class="h4 media-heading">Sample Home</h2>
          <label>Home</label>
          <p class="price">$399.99</p>
        </div>
        <div class="controls">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" data-action="minus"><i
                  class="ion-minus-round"></i></button>
            </span>
            <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" data-action="plus"><i
                  class="ion-plus-round"></i></button>
            </span>
          </div><!-- /input-group -->

          <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="{% static 'img/products/sample.png' %}" alt="Home" />
          </a>
        </div>
        <div class="media-body">
          <h2 class="h4 media-heading">Sample Home</h2>
          <label>Home</label>
          <p class="price">$399.99</p>
        </div>
        <div class="controls">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" data-action="minus"><i
                  class="ion-minus-round"></i></button>
            </span>
            <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" data-action="plus"><i
                  class="ion-plus-round"></i></button>
            </span>
          </div><!-- /input-group -->

          <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
        </div>
      </div>

    </div>

    <div class="checkout container-fluid">
      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <div>
            <p>Subtotal:</p>
            <h3 class="h4">Total:</h3>
          </div>
        </div>
        <div class="col-xs-3 col-sm-4">
          <div class="total">
            <p>$1 200</p>
            <h3 class="h4">$1 200</h3>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6">
          <a class="btn btn-primary" href="#"> Checkout </a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="offset-lg">

<div class="container tags">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <i class="ion-arrow-down-b"></i> Sorting by name
    </button>
    <ul class="dropdown-menu">
      <li class="active"><a href="#"> <i class="ion-arrow-down-c"></i> Name [A-Z]</a></li>
      <li><a href="#"> <i class="ion-arrow-up-c"></i> Name [Z-A]</a></li>
      <li><a href="#"> <i class="ion-arrow-down-c"></i> Price [Low-High]</a></li>
      <li><a href="#"> <i class="ion-arrow-up-c"></i> Price [High-Low]</a></li>
    </ul>
  </div>

  <p>Search by tags</p>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default btn-xs active">
      <input type="radio" name="options" id="option1" checked> All Units
    </label>
    <label class="btn btn-default btn-xs">
      <input type="radio" name="options" id="option2"> Business
    </label>
    <label class="btn btn-default btn-xs">
      <input type="radio" name="options" id="option3"> Home
    </label>
    <label class="btn btn-default btn-xs">
      <input type="radio" name="options" id="option4"> Mobility
    </label>
    <label class="btn btn-default btn-xs">
      <input type="radio" name="options" id="option5"> Fresh
    </label>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Filter -->
    <div class="col-sm-3 filter">
      <div class="item">
        <div class="title">
          <a href="#clear" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i> Open</a>
          <a href="#clear" data-action="clear"> <i class="ion-ios-trash-outline"></i> Clear</a>
          <h1 class="h4">Type</h1>
        </div>

        <div class="controls">
          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="Laptops">Homes</div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="Tablets">Business</div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="Hybrid">Rent</div>
            <input type="checkbox" name="checkbox" value="">
          </div>
        </div>
      </div>

      <br>

      <div class="item">
        <div class="title">
          <a href="#clear" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i> Open</a>
          <a href="#clear" data-action="clear"> <i class="ion-ios-trash-outline"></i> Clear</a>
          <h1 class="h4">Ground</h1>
        </div>

        <div class="controls grid">
          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="7 in">700 m<sup>2</sup></div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="10 in">800 m<sup>2</sup></div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="11 in">900 m<sup>2</sup></div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="14 in">1400 m<sup>2</sup></div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="15 in">1500 m<sup>2</sup></div>
            <input type="checkbox" name="checkbox" value="">
          </div>
        </div>
      </div>

      <br>

      <div class="item">
        <div class="title">
          <a href="#clear" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i> Open</a>
          <a href="#clear" data-action="clear-price"> <i class="ion-ios-trash-outline"></i> Clear</a>
          <h1 class="h4">Price</h1>
        </div>

        <div class="controls">
          <br>
          <div id="slider-price"></div>
          <br>
          <p id="amount"></p>
        </div>
      </div>
      <br>

      <div class="item lite">
        <div class="title">
          <a href="#clear" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i> Open</a>
          <a href="#clear" data-action="clear"> <i class="ion-ios-trash-outline"></i> Clear</a>
          <h1 class="h4">State</h1>
        </div>

        <div class="controls">
          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="Hp">State 1</div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="ASUS">State 2</div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="Acer">State 3</div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="Dell">State 4</div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="Sony">State 5</div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="Apple">State 6</div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="Lenovo">State 7</div>
            <input type="checkbox" name="checkbox" value="">
          </div>

          <div class="checkbox-group" data-status="inactive">
            <div class="checkbox"><i class="ion-android-done"></i></div>
            <div class="label" data-value="Microsoft">State 8</div>
            <input type="checkbox" name="checkbox" value="">
          </div>
        </div>
      </div>
    </div>
    <!-- /// -->

    <!-- Products -->
    <div class="col-sm-9 products">
      <div class="row">


        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 product">
          <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
          <a href="./"><img src="{% static 'img/products/sample.png' %}" alt="HP Chromebook 11" /></a>

          <div class="content">
            <h1 class="h4">Sample unit</h1>
            <p class="price">$199.99</p>
            <label>Home</label>

            <a href="../catalog/product.html" class="btn btn-link"> Details</a>
            <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
          </div>
        </div>

      </div>

      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
            </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li class="disabled"><a href="#">..</a></li>
          <li><a href="#">10</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- /// -->
  </div>
</div>
<br><br>
{% endblock content %}

{% block extra_body %}
<div class="modal fade" id="Modal-SignIn" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
              class="ion-android-close"></i></span></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="modal-title">Join Free</h4>
              <br>

              <form class="join" action="index.php" method="post">
                <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                <br>
                <input type="password" name="password" value="" placeholder="Password" required=""
                  class="form-control" />
                <br>

                <button type="submit" class="btn btn-primary btn-sm">Join</button>
                <a href="#">Terms ></a>

                <br><br>
                <p>
                  By creating an account you will be able to shop faster, be up to date on an order's status, and keep
                  track of the orders you have previously made.
                </p>
              </form>
            </div>
            <div class="col-sm-6">
              <h4 class="modal-title">Sign In</h4>
              <br>

              <form class="signin" action="index.php" method="post">
                <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                <br>
                <input type="password" name="password" value="" placeholder="Password" required=""
                  class="form-control" />
                <br>

                <button type="submit" class="btn btn-primary btn-sm">Sign In</button>
                <a href="#forgin-password" data-action="Forgot-Password">Password recovery ></a>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endblock extra_body %}


{% block scripts %}
<script src="{% static 'js/catalog.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-1.11.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>
{% endblock scripts %}