{% extends 'base.html' %}
{% load static %}

{% block head_title %}
Home
{% endblock head_title %}

{% block extra_head %}
<link href="{% static 'css/carousel-recommendation.css' %}" rel="stylesheet">
{% endblock extra_head %}
{% block content %}
<header>
  <div class="carousel" data-count="3" data-current="2">
    <button class="btn btn-control"></button>
    <div class="items">
      <div class="item" data-marker="1">
        <img src="{% static 'img/carousel/bckg.jpg' %}" alt="Background" class="background" />
        <div class="content">
          <div class="outside-content">
            <div class="inside-content">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 align-center">
                    <h1>Owners would like to sell</h1>
                    <p>wanting a nicer home, moving to a newer home to avoid making repairs on the old one, or cashing
                      in on existing equity.</p>
                    <a href="../catalog/">More news ></a>
                    <br><br>
                  </div>
                  <div class="col-sm-6 col-sm-offset-3 align-center">
                    <img src="{% static 'img/carousel/carousel_1.jpg' %}" alt="Laptops" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item active" data-marker="2">
        <img src="{% static 'img/carousel/bckg.jpg' %}" alt="Background" class="background" />

        <div class="content">
          <div class="outside-content">
            <div class="inside-content">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 align-center">
                    <img src="{% static 'img/carousel/carousel_2.jpg' %}" alt="Surface Pro" />
                  </div>
                  <div class="col-sm-12 align-center">
                    <h1>Pretty home in quiet street</h1>
                    <p>Located in Lapu-Lapu, this hostel is in the city center and near the beach. Fuente Osmena Circle
                      and Fort San Pedro are notable landmarks</p>
                    <a href="../catalog/">View surfaces ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" data-marker="3">
        <img src="{% static 'img/carousel/bckg.jpg' %}" alt="Background" class="background" />

        <div class="content">
          <div class="outside-content">
            <div class="inside-content">
              <div class="container">
                <div class="row">
                  <div class="col-sm-5 col-sm-offset-1 align-center">
                    <img src="{% static 'img/carousel/carousel_3.jpg' %}" alt="iPad Air 2"
                      class="hidden-xs hidden-sm" />
                    <img src="{% static 'img/carousel/carousel_3.jpg' %}" alt="iPad Air 2"
                      class="hidden-md hidden-lg" />
                  </div>
                  <div class="col-sm-4 align-left">
                    <br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm">
                    <br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm">
                    <h1>Buy Of The Century – Your Time Is NOW</h1>
                    <br>

                    <p>
                      "What makes a winner?" The man who asked and listened for the answer, Napoleon Hill, is now
                      counted in the top ranks of the world's winners himself.
                    </p>
                    <a href="../blog/item-photo.html">View article ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <ul class="markers">
      <li data-marker="1"><img src="{% static 'img/carousel/newlaptops.jpg' %}" alt="Background" /></li>
      <li data-marker="2" class="active"><img src="{% static 'img/carousel/surfaces.jpg' %}" alt="Background" /></li>
      <li data-marker="3"><img src="{% static 'img/carousel/ipadair2.jpg' %}" alt="Background" /></li>
    </ul> -->
  </div>
</header>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4 align-center">
      <a href="../blog/">
        <img src="{% static 'img/tiles/blog.jpg' %}" alt="Blog" class="image" />
      </a>
      <br><br>

      <a href="../blog/">Blog headlines</a>
    </div>
    <div class="col-sm-4 align-center">
      <a href="#" data-gallery="#video" data-source="vimeo" data-id="110691368" data-id="110691368"
        data-title="Available units"
        data-description="So capable, you won’t want to put it down. So thin and light, you won’t have to.">
        <img src="{% static 'img/tiles/Storage.jpg' %}" alt="New devices" class="image image-responsive" />
      </a>
      <br><br>

      <a href="#" data-gallery="#video" data-title="Apple iPad Air"
        data-description="So capable, you won’t want to put it down. So thin and light, you won’t have to.">New unit
        available for sale</a>
    </div>
    <div class="col-sm-4 align-center">
      <a href="#">
        <img src="{% static 'img/tiles/contact_us.jpg' %}" alt="" class="image" />
      </a>
      <br><br>

      <a href="#">Assigning or subletting
        your rental unit</a>
    </div>
  </div>
</div>
<hr class="offset-lg">
<hr class="offset-lg">

<div class="container">
  <h2>NEW UNITS for sale</h2>
  <hr class="offset-md">

  <div class="row products">
    <div class="col-sm-6 col-md-4 product">
      <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
      <a href="./"><img src="{% static 'img/products/lane1.jpg' %}" alt="Surface Pro" /></a>

      <div class="content">
        <h1 class="h4">Sample unit</h1>
        <p class="price">$199.99</p>
        <label>Monthly rent</label>

        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 product">
      <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
      <a href="./"><img src="{% static 'img/products/lane2.jpg' %}" alt="Lenovo Yoga" /></a>

      <div class="content">
        <h1 class="h4">Sample unit</h1>
        <p class="price">$199.99</p>
        <label>Monthly rent</label>

        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 product">
      <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
      <a href="./"><img src="{% static 'img/products/lane3.jpg' %}" alt="ASUS Transformer" /></a>

      <div class="content">
        <h1 class="h4">Sample unit</h1>
        <p class="price">$199.99</p>
        <label>Monthly rent</label>

        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 product hidden-md hidden-lg">
      <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
      <a href="./"><img src="{% static 'img/products/lane1.jpg' %}" alt="Mi Pad 2/"></a>

      <div class="content">
        <h1 class="h4">Sample unit</h1>
        <p class="sale">$199.99</p>
        <p class="price through">$249.99</p>
        <label>Monthly rent</label>

        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>RECOMMENDATION FOR YOU</h2>
  <hr class="offset-md">

  <div class="row products">
    <div class="col-sm-6 col-md-3 product">
      <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
      <a href="./"><img src="{% static 'img/products/lane1.jpg' %}" alt="HP Chromebook 11" /></a>

      <div class="content">
        <h1 class="h4">Sample unit</h1>
        <p class="price">$199.99</p>
        <label>Monthly rent</label>

        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
      </div>
    </div>

    <div class="col-sm-6 col-md-3 product">
      <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
      <a href="./"><img src="{% static 'img/products/lane2.jpg' %}" alt="HP Chromebook 14" /></a>

      <div class="content">
        <h1 class="h4">Sample unit</h1>
        <p class="sale">$209.99</p>
        <p class="price through">$249.99</p>
        <label>Monthly rent</label>

        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
      </div>
    </div>

    <div class="col-sm-6 col-md-3 product">
      <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
      <a href="./"><img src="{% static 'img/products/lane3.jpg' %}" alt="HP Chromebook 14" /></a>

      <div class="content">
        <h1 class="h4">Sample unit</h1>
        <p class="price">$299.99</p>
        <label>Monthly rent</label>

        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
      </div>
    </div>

    <div class="col-sm-6 col-md-3 product">
      <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
      <a href="./"><img src="{% static 'img/products/lane2.jpg' %}" alt="HP Chromebook 14" /></a>

      <div class="content">
        <h1 class="h4">Sample unit</h1>
        <p class="sale">$209.99</p>
        <p class="price through">$249.99</p>
        <label>Monthly rent</label>

        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Rent now</button>
      </div>
    </div>
  </div>
</div>
<hr class="offset-lg">
<hr class="offset-lg">
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/carousel-recommendation.js' %}"></script>
{% endblock scripts %}